@model Review

@* none star left black &#11240; *@

<div>
  <form asp-controller="FoodTrucks" asp-action="ReviewTruck" asp-route-foodTruckId="@ViewBag.FoodTruckId" method="POST">

    <div class="row">
      @* left column with review body input box *@
      <div class="col-md-6">
        <div class="form-group row">
          <label asp-for="Body" class="col-sm-3 col-form-label">
            Body 
            <span asp-validation-for="Body" class="text-danger font-weight-bold">
          </span>
          </label>
          <div class="col-sm-9">
            <textarea class="form-control" asp-for="Body" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
      @* right column with stars select menu and buttons *@
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-5">
            Rating Thumbs Up
          </div>

          <div class="col-md-7">
            <select class="d-block mb-5" asp-for="Rating">
              <option value="1">
                &#9733; &#9734; &#9734; &#9734; &#9734; 
              </option>
              <option value="2">
                &#9733; &#9733; &#9734; &#9734; &#9734; 
              </option>
              <option selected value="3">
                &#9733; &#9733; &#9733; &#9734; &#9734; 
              </option>
              <option value="4">
                &#9733; &#9733; &#9733; &#9733; &#9734; 
              </option>
              <option value="5">
                &#9733; &#9733; &#9733; &#9733; &#9733; 
              </option>
            </select>
          
            @* this is an anchor tag so that it won't submit the form *@
            <a asp-controller="FoodTrucks" asp-action="Dashboard" class="btn btn-primary">Cancel</a>
            <button class="btn btn-success">
              Submit
            </button>
          </div>
        </div>

      </div>
    </div>

  </form>
</div>