<ul class="nav">
  <li class="nav-item border">
    <a asp-controller="FoodTrucks" asp-action="Dashboard" class="nav-link disabled">
    Dashboard
  </a>
  </li>
  <li class="nav-item border">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item border">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>