@* lowercase m is to define what model this page will have (this is the data type of the data that this page receives) *@
@model Guide

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css
">
</head>
<body>
  <div class="container">

    <h2>
      Greetings @Model.Traveler.FirstName @Model.Traveler.LastName. Where would you like to virtually travel to?
    </h2>

    <ul>

      @foreach (Destination destination in Model.Destinations)
      {
        string reminder = "create any variables here you need.";
        
        <li>
          <a href="travel/@destination.Name">@destination.Name</a>
        </li>
      }

    </ul>
  </div>
</body>
</html>