@model Truck


<div class="container w-75">
  <h2 class="text-center">New Truck</h2>

  @* <form href="trucks/create" method="POST"> *@
  <form class="shadow p-3 mb-5 rounded" asp-controller="Trucks" asp-action="Create" method="POST">

    <div class="form-group">
      <label asp-for="Name"></label>
      <span asp-validation-for="Name" class="text-danger font-weight-bold">
      </span>
      <input class="form-control" asp-for="Name">
    </div>

    <div class="form-group">
      <label asp-for="Style"></label>
      <span asp-validation-for="Style" class="text-danger font-weight-bold">
      </span>
      <input class="form-control" asp-for="Style">
    </div>

    <div class="form-group">
      <label asp-for="Description"></label>
      <span asp-validation-for="Description" class="text-danger font-weight-bold">
      </span>
      <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <div class="form-group">
      <label asp-for="ImgUrl"></label>
      @* <span asp-validation-for="ImgUrl" class="text-danger font-weight-bold">
      </span> *@
      <input class="form-control" asp-for="ImgUrl">
    </div>
    
    <button class="btn btn-success">Submit</button>
  </form>
</div>